{% extends './layout.html' %}
{% block title %}关于我们{% endblock %}
 
{% block content %}
<div class="col-lg-10 col-lg-offset-1 col-md-12">
<h2 class="page-header">About <small>关于我们</small></h2>
<p>We are a group of people who love freedom, we want to be able to open the door and see the outside world!</p>
<p>
Thanks for Shadowsocks team very much, enable to develop such a good application.
</p>
<p>
    This site provides services Shadowsocks account service, not Shadowsocks official website, please know it.
</p>
</div>
{% endblock %}