{% extends './layout.html' %}
{% block title %}下载页面{% endblock %}
 
{% block content %}
<h2 class="page-header">
    Download <small>下载页面</small>
</h2>
<div class="ads">
    <!--200x200-->
</div>
<h4>OS X 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/shadowsocks/shadowsocks-gui" target="_blank" rel="external nofollow">shadowsocks-gui</a> - Cross-platform GUI powered by node and Webkit</li>
    <li><a href="https://github.com/ohdarling/GoAgentX" target="_blank" rel="external nofollow">GoAgentX</a> - OS X client, with GUI</li>
    <li><a href="https://github.com/shadowsocks/shadowsocks-iOS/wiki/Shadowsocks-for-OSX-Help" target="_blank" rel="external nofollow">Shadowsocks for Mac</a> - Shadowsocks GUI designed for OS X 10.7+</li>
</ul>
<p></p>

<h4>Windows 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/clowwindy/shadowsocks-csharp" target="_blank" rel="external nofollow">shadowsocks-csharp</a> - Windows version with GUI</li>
    <li><a href="https://github.com/shadowsocks/shadowsocks-gui" target="_blank" rel="external nofollow">shadowsocks-gui</a> - Cross-platform GUI powered by node and Webkit</li>
    <li><a href="https://github.com/dallascao/yingwa" target="_blank" rel="external nofollow">Yingwa</a> - Shadowsocks Windows client</li>
    <li><a href="https://goagentplus.com" target="_blank" rel="external nofollow">GoAgent+</a> - Windows client</li>
</ul>
<p></p>

<h4>Linux 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/shadowsocks/shadowsocks-gui" target="_blank" rel="external nofollow">shadowsocks-gui</a> - Cross-platform GUI powered node and by Webkit</li>

</ul>
<p></p>

<h4>iOS 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/shadowsocks/shadowsocks-iOS" target="_blank" rel="external nofollow">shadowsocks-iOS</a> - All devices, web browser, global proxy with some restrictions</li>
    <li><a href="https://github.com/linusyang/MobileShadowSocks" target="_blank" rel="external nofollow">MobileShadowSocks</a> - Jailbroken devices only, global proxy with no restriction</li>
</ul>
<p></p>

<h4>Android 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/shadowsocks/shadowsocks-android" target="_blank" rel="external nofollow">shadowsocks-android</a></li>
</ul>
<p></p>

<h4>路由器 / Router 客户端</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/haohaolee/shadowsocks-openwrt" target="_blank" rel="external nofollow">shadowsocks-openwrt</a> - works on OpenWRT routers</li>

</ul>
<p></p>

<h4>实验环境</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/clowwindy/shadowsocks-ruby" target="_blank" rel="external nofollow">shadowsocks-ruby</a> Ruby version</li>
    <li><a href="https://github.com/clowwindy/shadowsocks-chromeapp" target="_blank" rel="external nofollow">shadowsocks-chromeapp</a> - Chrome App</li>
</ul>
<p></p>

<h4>其他支持 Shadowsocks 的上网方式</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/cyfdecyf/cow" target="_blank" rel="external nofollow">cow</a> - Powerful HTTP proxy, detecting blocked sites automatically</li>
    <li><a href="https://github.com/jackyz/pobi" target="_blank" rel="external nofollow">pobi</a></li>
    <li><a href="https://github.com/clowwindy/lightsocks" target="_blank" rel="external nofollow">lightsocks</a> - Transparent TCP proxy</li>
    <li><a href="https://github.com/tuoxie007/Tweet4China2" target="_blank" rel="external nofollow">Tweet4China2</a> - A Twitter client</li>
</ul>
<p></p>

<h4>其他版本（非官方）</h4>
<p>
</p>
<ul>
    <li><a href="https://github.com/lerry/balan-proxy" target="_blank" rel="external nofollow">balan-proxy</a></li>
</ul>
<p></p>
{% endblock %}