{% extends './layout.html' %}
{% block title %}首页{% endblock %}
{% block content_full %}
<div class="banner-job">
    <div class="banner-overlay"></div>
    <div class="container text-center">
        <h1 class="title">轻量、跨平台，她，让你爱不释手 <i class="fa fa-paper-plane-o" aria-hidden="true"></i></h1>
        <h3>基于Socket5协议，安全加密，支持多种平台</h3>
        <h3>A secure socks5 proxy,designed to protect your Internet traffic.</h3>
        <h3>Faster,Safer And Lighter，that is Shadowsocks</h3>
    </div><!-- container -->
</div><!-- banner-section -->

{% endblock %}