{% extends './layout.html' %}
{% block title %}服务条款{% endblock %}
{% block content %}
<h2 class="page-header">
    Terms of Service <small>服务条款</small>
</h2>
    <h3>概述</h3>
    <ul>
        <li>一、为可持续地向客户提供更优质、稳定的服务，同时为争议的解决提供依据，制定本“服务条款”。</li>
        <li>二、用户享有本“服务条款”所规定的相关权利，同时必须履行本“服务条款”所规定的相关义务。用户在使用 {{ SITE_NAME }} 的服务或产品的过程中，与 {{ SITE_NAME }} 发生的争议，依本“服务条款”解决。</li>
    </ul>
    <h3>用户权利</h3>
    <ul>
         <li>三、用户在使用 {{ SITE_NAME }} 所提供之服务时，享有所有数据和隐私安全的权利。所有通过 Shadowsocks 客户端的流量都将被加密。{{ SITE_NAME }} 将不会记录用户的任何访问记录，更不会尝试在服务器上获取用户的流量数据。</li>
    </ul>
    <h3>用户义务</h3>
    <ul>
        <li>四、用户在使用 {{ SITE_NAME }} 提供服务或产品的过程中，不得实施违反中、美、日等国家法律的行为或发布违反中、美、日等国家法律的内容。</li>
    </ul>
    <h3>禁止用途</h3>
    <ul>
        <li>五、用户在使用 {{ SITE_NAME }} 提供的服务的过程中：</li>
        <ul style="list-style-type: disc;margin-left:45px">
        <li>不得发布淫秽色情等相关内容</li>
        <li>不得发布任何形式的带有欺诈，欺骗性质的内容，包含但不仅限于仿牌、钓鱼等性质的内容</li>
        <li>不得发布反动、与事实不符的政论等相关内容</li>
        <li>不得发布违反中华人民共和国社会主义道德的相关内容</li>
        <li>不得发布危害中华人民共和国国家安全与政治稳定的相关内容</li>
        <li>不得使用BT、迅雷、电驴等严重影响网络性能的程序</li>
        <li>不得提供破解后的程序、破解补丁、破解方法</li>
        <li>不得下载含版权的图片、模板、音乐、视频、图书等</li>
        <li>不得下载BT种子文件、不得下载任何侵权文件或材料</li>
        <li>不得提供诱导、介绍他人犯罪方法的内容（包括传播自杀情绪等）</li>
        <li>不得散播木马或病毒</li>
        <li>不得发送垃圾邮件</li>
        <li>不得发布关于架设私服以及与私服有关的内容</li>
        <li>不得发布架设外挂以及与外挂有关的内容</li>
        <li>不得发布架设博彩和赌博等一切相关的内容</li>
        <li>不得进行一切黑客活动，如在对其他站点 DDoS、注入、盗取账号等</li>
        </ul>
    </ul>
    <h3>其他事项</h3>
    <ul>
        <li>六、{{ SITE_NAME }} 享有本条款的最终解释权</li>
    </ul>
{% endblock %}