{% extends './layout.html' %}
{% block content %}
<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">用户签到</h2>
    </header>
<div class="content-body">
    <div class="row">
        <div class="col-md-6">
            {% if user_checkable %}
            <form method="post">
                {% csrf_token %}
                <div style="margin-bottom: 30px;">
                   <div id="embed-captcha"></div>
                    <p id="wait" class="show">正在加载验证码......</p>
                    <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                </div>
                <button type="submit" id="embed-submit" class="btn btn-success green-btn"> 签到
                    <i class="fa fa-check-circle"></i></button>
            </form>
            {% elif unable_checkin_reason %}
                {{ unable_checkin_reason }} <i class="fa fa-info"></i>
            {% else %}
                今日已签到 <i class="fa fa-check-circle icon-lg icon-success animated bounceIn"></i>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>
                最后签到时间：{{ user.last_check_in_time }}，您已连续签到{{ user.check_in_count }}天
            </p>
            <p>近一周签到记录：</p>
            <ul>
                {% for info in check_in_list %}
                <li>{{ info.create_time }} {{ info.remark }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
</section>
{% endblock %}
{% block js %}
{% if user_checkable %}
<script src="//static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
var handlerEmbed = function (captchaObj) {
            $("#embed-submit").click(function (e) {
                var validate = captchaObj.getValidate();
                if (!validate) {
                    $("#notice")[0].className = "show";
                    setTimeout(function () {
                        $("#notice")[0].className = "hide";
                    }, 2000);
                    e.preventDefault();
                }
            });
            // 将验证码加到id为captcha的元素里
            captchaObj.appendTo("#embed-captcha");
            captchaObj.onReady(function () {
                $("#wait")[0].className = "hide";
            });
        };
        $.post('{% url 'home:get_gee_captcha' %}?t='+ (new Date()).getTime(),
            {'csrfmiddlewaretoken':'{{ csrf_token }}'},
            function(data){
                initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
            }, handlerEmbed);
        });
</script>
{% endif %}
{% endblock %}
