{% extends './layout.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="row">
            <div class="col-lg-12">
                <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">流量配额</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="chart-container">
                          <div class="chart has-fixed-height" style="height:300px" id="trans_chart"></div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                        <p>已使用：<span id="tran-used-value"></span>M / 剩余：<span id="tran-remain-value"></span>M
                        / 配额：<span id="tran-enable-value"></span>M</p>
                    </div>
                    </div> <!-- End .row -->
                </div>
        </section>
            </div>
            <div class="col-lg-12">
                <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">上传下载</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="chart-container">
                          <div class="chart has-fixed-height" style="height:300px" id="down-up-load-trans"></div>
                      </div>
                    </div>
                    </div> <!-- End .row -->
                </div>
        </section>
            </div>
        </div>

    </div>
    <div class="col-lg-6 col-xs-12">
        <section class="box index-publish">
            <header class="pannel_header">
                <h2 class="title pull-left">站内公告</h2>
            </header>
            <div class="content-body">
                <ul class="list-item">
                    {% for post in post_list %}
                    <li>
                        <div class="feed-element">
                            <div class="feed-head"><a href="{% url 'user:post_detail' post.pk %}">{{ post.title }}</a></div>
                            <div class="feed-content">
                                <p>{{ post.abstract }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn btn-info btn-block btn-2x" href="{% url 'user:posts' %}">查看更多</a>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">流量使用</h2>
        </header>
        <div class="content-body">
            <div class="row">
            <div class="col-xs-12">
                <div class="chart-container">
                  <div class="chart has-fixed-height" style="height:240px" id="trans_use_info"></div>
              </div>
            </div>
            </div> <!-- End .row -->
        </div>
        </section>
    </div>
</div>
<div class="row"></div>

{% endblock %}
{% block js %}
    <script src="//cdn.bootcss.com/echarts/2.2.7/echarts-all.js"></script>
    <script type="text/javascript">
        //流量使用百分比
        var trans_chart = echarts.init(document.getElementById('trans_chart'));
        init_trans_chart_options.series[0].data[0].value = (({{ user.u }}+{{ user.d }})/({{ user.transfer_enable }}+1)*100).toFixed(2);
        $("#tran-used-value").html((({{ user.u }}+{{ user.d }})/1048576).toFixed(2));
        $("#tran-enable-value").html((({{ user.transfer_enable }})/1048576).toFixed(2));
        $("#tran-remain-value").html((({{ user.transfer_enable }}-{{ user.u }}-{{ user.d }})/1048576).toFixed(2));
        trans_chart.setOption(init_trans_chart_options,true);
        //上传下载对比
        var downUpChart = echarts.init(document.getElementById('down-up-load-trans'));
        init_down_up_chart_option.series[0].data[0].value = ({{ user.u }}/1048576).toFixed(2);
        init_down_up_chart_option.series[0].data[1].value = ({{ user.d }}/1048576).toFixed(2);
        downUpChart.setOption(init_down_up_chart_option,true);
        //流量使用记录
        var trans_use_info_char = echarts.init(document.getElementById('trans_use_info'));
        init_trans_use_info_option.xAxis[0].data = ['2017/2/1','2017/2/2','2017/2/3','2017/2/4','2017/2/5','2017/2/6','2017/2/7','2017/2/8','2017/2/9','2017/2/10','2017/2/11',
            '2017/2/1','2017/2/2','2017/2/3','2017/2/4','2017/2/5','2017/2/6','2017/2/7','2017/2/8','2017/2/9','2017/2/10','2017/2/11'
            ,'2017/2/3','2017/2/4','2017/2/5','2017/2/6','2017/2/7','2017/2/8','2017/2/9','2017/2/10','2017/2/11'];
        init_trans_use_info_option.series[0].data = [620, 732, 701, 734, 1090, 620, 732, 701, 734, 1090, 1130, 1120,1130, 1120,620, 732, 701, 734, 1090, 1130, 1120,620, 732, 701,620, 732, 701, 734, 1090, 1130, 1120, 734, 1090, 1130, 1120];
        init_trans_use_info_option.series[1].data = [120, 132, 101, 134, 120, 132, 101, 134, 120, 132, 101, 134, 290, 230, 220,290, 230,120, 132, 101, 134, 290, 230, 220, 220,290, 230,120, 132, 101, 134, 290, 230, 220, 220];
        trans_use_info_char.setOption(init_trans_use_info_option,true);

    </script>
{% endblock %}