{% extends 'home/layout.html' %}
{% block title %}找回密码{% endblock %}
{% block content %}
<div class="eternity-form container">
    <div class="forgot-password-section" data-animation="bounceInLeft">
        <div class="section-title">
            <h3>找回密码</h3>
        </div>
        <div class="forgot-content">
            <form>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                        <input type="text" class="form-control " placeholder="Username" required="required" />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                        <input type="email" class="form-control " placeholder="Email Id" required="required" />
                    </div>
                </div>
                <div class="forget-form-action clearfix">
                    <a class="btn btn-success pull-left blue-btn" href="#demo1"><i class="icon-chevron-left"></i>&nbsp;&nbsp;Back  </a>
                    <button type="submit" class="btn btn-success pull-right green-btn">Submit &nbsp;&nbsp; <i class="icon-chevron-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="//cdn.bootcss.com/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
    <script src="//cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input").iCheck({
                checkboxClass: 'icheckbox_square-blue',
                increaseArea: '20%' // optional
            });

            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });
        });
    </script>
{% endblock %}