{% extends './layout.html' %}{% load static %}
{% block content %}
<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left"><a href="{% url 'user:nodes' %}">节点列表</a>
            {% if node_tag %}　<small>标签含：<a href="{% url 'user:nodes' node_tag.slug %}">{{ node_tag.name }}</a></small>{% endif %}
        </h2>
    </header>
<div class="content-body">
    <div class="row">
        <div class="col-xs-12 tab-content node-lists">
        <div role="tabpanel" class="">
            {% for node in nodeLists %}
            <div class="job-ad-item">
                <div class="item-info">
                    <div class="item-image-box">
                        <div class="item-image">
                            <a href="job-details.html"><img src="{% static 'images/logo.png' %}" alt="Image" class="img-responsive"></a>
                        </div><!-- item-image -->
                    </div>

                    <div class="ad-info">
                        <div class="node-title">{{ node.name }}</div>
                        <div class="node-info">{{ node.info }}</div>
                        <div class="ad-meta">
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ node.location }}</li>
                                <li><i class="fa fa-get-pocket" aria-hidden="true"></i><code>{{ node.method }}</code></li>
                                <li><i class="fa fa-heartbeat" aria-hidden="true"></i>{{ node.get_status_display }}</li>
                                {% for tag in node.tags.all %}{% if forloop.first %}<li><i class="fa fa-tags" aria-hidden="true"></i> {% endif %}<a href="{% url 'user:nodes' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}、{% endif %}{% endfor %}</li>
                            </ul>
                        </div><!-- ad-meta -->
                    </div><!-- ad-info -->
                    <div class="button">
                        <a href="javascript:showQrCode('{{ node.slug }}')"><i class="fa fa-qrcode icon-xs icon-accent animated bounceIn"></i> 节点连接信息</a>　
                        {# <a href="javascript:void(0)"><i class="fa fa-cloud icon-xs icon-success animated rotateIn"></i> 详细信息</a>  #}
                    </div>
                </div><!-- item-info -->
            </div><!-- ad-item -->
            {% endfor %}

        </div>
        </div>
    </div>
</div>
</section>
<!-- modal start -->
<div class="modal fade col-xs-12" id="cmpltadminModal-qrcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">节点连接信息</h4>
            </div>
            <div class="modal-body">
                <div class="loader">
                    <div class="ball-pulse-sync">
                        <div></div>
                        <div></div>
                        <div></div></div>
                    <p>加载中，客观请稍等...</p>
                </div>
                <div class="row" id="qrcode-ajax-content">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function showQrCode(slug) {
            $('#cmpltadminModal-qrcode .loader').show();
            $("#qrcode-ajax-content").html('');
            $('#cmpltadminModal-qrcode').modal('show',{backdrop:"static"});
            $.post('{% url "user:node_qr_info" %}',{'csrfmiddlewaretoken':'{{ csrf_token }}','slug':slug},function(data){
                $('#cmpltadminModal-qrcode .loader').hide();
                $("#qrcode-ajax-content").html(data);
            },'html');
        }
    </script>
{% endblock %}