{% extends './layout.html' %}
{% block content %}
<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">个人信息</h2>
    </header>
<div class="content-body">
<div class="row">
<div class="col-xs-6 col-sm-5 col-md-4">
<form>
    <div class="form-group">
       <label for="id_passwd" class="control-label">用户名<span class="asteriskField"></span> </label>
        <div class="controls ">
            <input class="textinput textInput form-control" type="text" value="{{ user.username }}" readonly>
        </div>
    </div>
    <div class="form-group">
          <label class="control-label">电子邮箱<span class="asteriskField"></span> </label>
        <div class="controls ">
            <input class="textinput textInput form-control" type="text" value="{{ user.email }}" readonly>
            <p class="help-block">如需修改，请联系管理员，此邮箱用于找回密码。</p>
        </div>
    <div class="controls ">
        <div class="form-group">
       <label class="control-label">注册时间<span class="asteriskField"></span> </label>
        <div class="controls ">
            <input class="textinput textInput form-control" type="text" value="{{ user.date_joined }}" readonly>
        </div>
    </div>
</div> </div>
</form>

</div>
</div>
</div>
</section>
{% endblock %}