{% extends './layout.html' %}
{% block content %}
<section class="box">
<header class="panel_header">
    <h2 class="title pull-left">站内通告列表</h2>
</header>
<div class="content-body">
{% for post in object_list %}
    <div class="blog_post">
        <h3><a href="{% url 'user:post_detail' post.pk %}">{{ post.title }}</a></h3>
        <h5><i class="fa fa-calendar"></i> {{ post.last_modified_time }}</h5>
        <p class="blog-content">{{ post.abstract }}</p>
        <a href="{% url 'user:post_detail' post.pk %}" class=""><span>阅读更多</span> <i class="fa fa-angle-double-right"></i></a>
    </div>
{% endfor %}
<div class="pagination">
    当前第{{ page_obj.number }}页/ 共{{ paginator.num_pages }}页 / 每页显示{{ paginator.per_page }}条 / 共{{ paginator.count }}条
    <a href="{% url 'user:posts'  %}?page=1">首页</a>
    <a href="{% if page_obj.has_previous %}{% url 'user:posts'  %}?page={{ page_obj.previous_page_number }}{% else %}javascript:void(0);{% endif %}">上一页</a>
    <a href="{% if page_obj.has_next %}{% url 'user:posts'  %}?page={{ page_obj.next_page_number }}{% else %}javascript:void(0);{% endif %}">下一页</a>
    <a href="{% url 'user:posts'  %}?page={{ paginator.num_pages }}">尾页</a>
</div>
</div>
</section>
{% endblock %}