<!-- SIDEBAR - START -->{% load static %}
<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="ui-profile.html">
                    <img alt="" src="{% static 'images/avatars/avatar1.png' %}" class="img-responsive img-circle">
                </a>
            </div>
            <div class="profile-details col-xs-8">
                <h3>
                    <a href="ui-profile.html">John Doug</a>
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">注册用户</p>

            </div>

        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
                    <li class="open">
                    <a href="index-freelancing.html">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">仪表盘</span>
                        </a>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">个人中心</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-buyers.html" >我的信息</a>
                            </li>
                            <li>
                            <a class="" href="frl-buyer-add.html" >安全设置</a>
                            </li>
                            <li>
                            <a class="" href="frl-buyer-edit.html" >连接设置</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Sellers</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-sellers.html" >All Sellers</a>
                            </li>
                            <li>
                            <a class="" href="frl-seller-add.html" >Add Seller</a>
                            </li>
                            <li>
                            <a class="" href="frl-seller-edit.html" >Edit Seller</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-dollar "></i>
                    <span class="title">Billing</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-invoices.html" >All Invoices</a>
                            </li>
                            <li>
                            <a class="" href="frl-invoice-add.html" >Add Invoice</a>
                            </li>
                            <li>
                            <a class="" href="frl-invoice-edit.html" >Edit Invoice</a>
                            </li>
                            <li>
                            <a class="" href="frl-invoice-view.html" >View Invoice</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="title">Bids</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-bids.html" >All Bids</a>
                            </li>
                            <li>
                            <a class="" href="frl-bid-add.html" >Add Bid</a>
                            </li>
                            <li>
                            <a class="" href="frl-bid-edit.html" >Edit Bid</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-bar-chart"></i>
                    <span class="title">Reports</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-report-sales.html" >Sales</a>
                            </li>
                            <li>
                            <a class="" href="frl-report-buyers.html" >Buyers</a>
                            </li>
                            <li>
                            <a class="" href="frl-report-targets.html" >Targets</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-question-circle"></i>
                    <span class="title">Tickets</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-tickets.html" >All Tickets</a>
                            </li>
                            <li>
                            <a class="" href="frl-ticket-add.html" >Add Ticket</a>
                            </li>
                            <li>
                            <a class="" href="frl-ticket-edit.html" >Edit Ticket</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-envelope"></i>
                    <span class="title">Mailbox</span>
                        <span class="arrow "></span><span class="label label-accent">4</span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-mail-inbox.html" >Inbox</a>
                            </li>
                            <li>
                            <a class="" href="frl-mail-compose.html" >Compose</a>
                            </li>
                            <li>
                            <a class="" href="frl-mail-view.html" >View</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span class="title">Users</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="frl-users.html" >All Users</a>
                            </li>
                            <li>
                            <a class="" href="frl-user-add.html" >Add User</a>
                            </li>
                            <li>
                            <a class="" href="frl-user-edit.html" >Edit User</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                    <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Multi Purpose</span>
                        <span class="arrow "></span><span class="label label-accent">HOT</span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                            <a class="" href="general.html"  target = '_blank' >General Admin</a>
                            </li>
                            <li>
                            <a class="" href="hospital.html"  target = '_blank' >Hospital Admin</a>
                            </li>
                            <li>
                            <a class="" href="music.html"  target = '_blank' >Music Admin</a>
                            </li>
                            <li>
                            <a class="" href="crm.html"  target = '_blank' >CRM Admin</a>
                            </li>
                            <li>
                            <a class="" href="socialmedia.html"  target = '_blank' >Social Media Admin</a>
                            </li>
                            <li>
                            <a class="" href="freelancing.html"  target = '_blank' >Freelancing Admin</a>
                            </li>
                            <li>
                            <a class="" href="university.html"  target = '_blank' >University Admin</a>
                            </li>
                            <li>
                            <a class="" href="ecommerce.html"  target = '_blank' >Ecommerce Admin</a>
                            </li>
                            <li>
                            <a class="" href="blog.html"  target = '_blank' >Blog Admin</a>
                            </li>
                        </ul>
                    </li>

        </ul>

    <div class="menustats">
        <h5>Project Progress</h5>
        <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                </div>
            </div>
        <h5>Target Achieved</h5>
        <div class="progress">
                    <div class="progress-bar progress-bar-accent" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                </div>
            </div>
    </div>

    </div>
    <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->
