<!-- SIDEBAR - START -->{% load static %}
<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="{% url 'user:profile' %}">
                    <img alt="" src="{% static 'images/avatars/' %}{{ user.avatar }}" class="img-responsive img-circle">
                </a>
            </div>
            <div class="profile-details col-xs-8">
                <h3>
                    <a href="{% url 'user:profile' %}">{{ user.get_full_name|default:user.username }}</a>
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">注册用户</p>

            </div>

        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            {% for menu in USER_MENUS %}
            <li class="{{ menu.open|default:'' }}">
                {% if menu.children|length > 0 %}
                <a href="javascript:void(0);">
                    <i class="fa fa-{{ menu.icon }}"></i>
                    <span class="title">{{ menu.title }}</span>
                    <span class="arrow {{ menu.open|default:'' }}"></span>
                </a>

                <ul class="sub-menu" {% if menu.open %}style="display:block;" {% endif %}>
                {% for sub_menu in menu.children %}
                    <li><a class="{{ sub_menu.active|default:'' }}" href="{% url sub_menu.url_name %}" >
                        <i class="fa fa-{{ sub_menu.icon }}"></i>
                        {{ sub_menu.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                 <a href="{% url menu.url_name %}">
                    <i class="fa fa-{{ menu.icon }}"></i>
                    <span class="title">{{ menu.title }}</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    <div class="menustats">
        <h5>Project Progress</h5>
        <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                </div>
            </div>
        <h5>Target Achieved</h5>
        <div class="progress">
                    <div class="progress-bar progress-bar-accent" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                </div>
            </div>
    </div>

    </div>
    <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->
