<!-- START TOPBAR -->{% load static %}
<div class='page-topbar '>
    <div class='logo-area'>
        <a href="{% url 'home:index' %}"><img  class="logo-img" src="{% static 'images/logo.png' %}"></a>
        <span class="logo-title"><span>{{ SITE_NAME }}</span></span>
    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="javascript:void(0);" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                </li>
            </ul>
        </div>
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                {% if user.is_staff %}
                <li class="admin-menu">
                    <a class='' href="{% url 'admin:index' %}" target="_blank">后台管理</a>
                </li>
                {% endif %}
                <li class="profile">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="toggle">
                        <img src="{% static 'images/avatars/' %}{{ user.avatar }}" alt="user-image" class="img-circle img-inline">
                        <span>{{ user.get_full_name|default:user.username }} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href="{% url 'user:profile' %}">
                                <i class="fa fa-wrench"></i>
                                设置
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user:profile' %}">
                                <i class="fa fa-user"></i>
                                我的信息
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user:profile' %}">
                                <i class="fa fa-info"></i>&nbsp; 帮助
                            </a>
                        </li>
                        <li class="last">
                            <a href="{% url 'user:logout' %}">
                                <i class="fa fa-lock"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- END TOPBAR -->

